* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: "DIN Medium";
  src: local("DIN Medium"),
    url("./assets/fonts/DIN/DIN/DIN\ Medium.ttf") format("truetype");
}

@font-face {
  font-family: "DIN Alternate Bold";
  src: local("DIN Alternate Bold"),
    url("./assets/fonts/DIN/DIN/DIN\ Alternate\ Bold.ttf") format("truetype");
}

@font-face {
  font-family: "DIN Alternate Light";
  src: local("DIN Alternate Light"),
    url("./assets/fonts/DIN/DIN/DIN\ Light.ttf") format("truetype");
}